{% extends 'base.html' %}
{% block content %}
<nav id="sidebar">
    {% include "sidebar.html" %}
</nav>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        Site Code {{ form.site_code }}
        Contractor Name{{ form.contractor_name }}
        Date{{ form.date }}
    </div>
    <div class="form-group">
        <p class="solid"><b>Labor Entry</b> <br>
        <br>
        Labor Code {{ form.job_code_managment }}
        Hours Worked_____
        Total _______ <br>
        <br>
        Labor Code {{ form.job_code_managment }}
        Hours Worked_____
        Total _______<br>
       <br>
        Labor Code {{ form.job_code_managment }}
        Hours Worked_____
        Total _______<br>
            <br>
            <a class="btn" href="/timesheet/submitTimecard/" style=float:right; >Add More</a>
            <br>

        </p>
    </div>
        <div class="form-group">
            <p class="solid"><b>Machine Entry</b> <br>
            <br>
        Machine Code {{ form.machine_managment }}
        Hours Used ______
        Total ______ <br>
        <br>
        Machine Code {{ form.machine_managment }}
        Hours Used ______
        Total _______<br>
       <br>
        Machine Code {{ form.machine_managment }}
        Hours Used ______
        Total _______<br>
            <br>
            <a class="btn" href="/timesheet/submitTimecard/" style=float:right; >Add More</a>
            <br>

        </p>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" value="Reset" id="resetBtn" onClick="this.form.reset()">Clear</button>

  </form>
<style>
p.solid {border-style: solid;}
</style>
{% endblock %}
